{% extends "page_nav.html" %}
{% block js %}
    <script>

        function drawgraph(dom_id, title, line, col) {
            $.jqplot(dom_id, [line], {
                legend: {
                    show: false
                },
                title: title,
                series: [
                    {
                        renderer: $.jqplot.BarRenderer,
                        rendererOptions: {
                            barMargin: 4,
                            barPadding: 4,
                            barWidth: 2,
                            color: col
                        }

                    }
                ],
                axes: {
                    xaxis: {
                        renderer: $.jqplot.DateAxisRenderer,
                        tickOptions: {
                            formatString: '%#d&nbsp;%b',
                            fontSize: '12px'
                        }
                    },
                    yaxis: {
                        tickOptions: {
                            fontSize: '12px'
                        }
                    }
                },
                grid: {
                    drawBorder: false,
                    shadow: false,
                    background: '#f8ffff'

                }

            });
        }

        function bargraph(dom_id, title) {
            $.ajax({
                async: true,
                url: "{{ cf.url }}api/stats/practice/3months",
                dataType: "json",
                success: function (data) {

                    var line = data.result;
                    if (line.length > 1) {
                        drawgraph(dom_id, title, line, "black")
                    } else {
                        $("#" + dom_id).html("")
                    }
                }
            });
        }

        $(document).ready(function () {

            bargraph("chart", "Questions Marked Per Day");

        });

    </script>
{% endblock js %}
{% block body %}
    <br/>

    <P>Return to <B><A HREF='{{ cf.url }}admin/top'>Admin</A></B> menu.</P>

    <H2>OASIS Administration</H2>
    <P><B>System Information:</B></P>

    <div class='container-fluid well'>
        <div class='row'>

            <div class='span5'>
                <h3>Db Disk Usage</h3>

                <p>Top 10 tables.</p>
                <table class='table table-bordered'>
                    {% for table,size in db_sizes %}
                        <tr>
                            <th style='text-align: right;'>{{ table }}</th>
                            <td>{{ size }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        <div class='row'>

            <div class='span5'>
                <h3>Info</h3>

                <p>DB Pool connections free: {{ db_queue_free }}/{{ db_queue_size }}</p>

                <p>DB Version: {{ db_version }}</p>
                {% if mc_enable %}
                    <p>Memcache Pool connections free: {{ mc_queue_free }}/{{ mc_queue_size }}</p>
                {% else %}
                    <p>Memcache: not enabled</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div id='chart' style="height: 120px;"></div>
    <br>
    <P>or Return to <B><A HREF='{{ cf.url }}admin/top'>Admin</A></B> menu.</P>
    <BR/>

{% endblock body %}
{% block pagetitle %}Setup{% endblock %}
