{% extends "page_nav.html" %}
{% block body %}
    <div>
        <br/>

        <p>Return to <a href="{{ cf.url }}admin/enrol/top">Enrolment
            Configuration</a></p>

        <H2>Group Feeds</H2>


            <p>Group feeds provide a way to import group membership information
                from
                external systems into OASIS.
                <br>
            </p>

            <p>Generally you would need only one or two.
                <br>
            </p>

            <p>These are implemented as scripts stored in the {{ cf.feeddir }}
                folder on the server.
                <br>
            </p>
            <div class='container-fluid well'>


                <h4>Active Feeds</h4>
        <table class='table table-condensed datatable'>
            <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Code</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for period in periods if not period.historical() %}
                <tr>
                    <td>{{ period.name }}</td>
                    <th>{{ period.title }}</th>
                    <td>{{ period.start }}</td>
                    <td>{{ period.finish }}</td>
                    <td>{{ period.code }}</td>

                    <td>{% if period.editable() %}<a class='btn btn-mini'
                           href='{{ cf.url }}admin/edit_period/{{ period.id }}'>Edit</a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/> <br/>
        <a class='btn btn-small' href='{{ cf.url }}admin/add_period'>Add Time Period</a>
        <br/> <br/>
<br/><br/>
        <a href='#' id='showhistorical'><i class='icon icon-chevron-right historical'> </i><i style='display:none;' class='icon icon-chevron-down historical'> </i>
            Inactive Feeds</a>

        <div class='hidden historical' id="historical">
            <table class='table table-condensed datatable'>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Code</th>
                    <td></td>

                </tr>
                </thead>
                <tbody>
                {% for period in periods if period.historical() %}
                    <tr>
                    <td>{{ period.name }}</td>
                    <th>{{ period.title }}</th>
                    <td>{{ period.start }}</td>
                    <td>{{ period.finish }}</td>
                    <td>{{ period.code }}</td>

                    <td>{% if period.editable() %}<a class='btn btn-mini'
                           href='{{ cf.url }}admin/edit_period/{{ period.id }}'>Edit</a>{% endif %}
                    </td>
                 </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>














        </div>
    </div>





    <p>Return to <a href="{{ cf.url }}admin/enrol/top">Enrolment
        Configuration</a></p>

    <br/>
    <br/>
    <br/>
    <br/>

{% endblock body %}
{% block js %}
    <script>

        $(function () {
            $(".datatable").dataTable({
                        "bPaginate": false,
                        "bLengthChange": false,
                        "bFilter": false
                    }
            );

            $('#showhistorical').click(function () {
                        $('.historical').toggle();
                    }
            );
        });


    </script>
{% endblock js %}
{% block pagetitle %}Server Admin{% endblock %}