{% extends "page_nav.html" %}
{% block body %}
  <br/>
  <p>Return to <a href="{{ cf.url }}admin/periods">Time Periods</a></p>

  <div class="row">
    <div class="span2 help-block">
      <h4>Time Periods
        <br>
      </h4>

      <p>Configure different time periods. This allows access to courses
        to expire,
        and should reflect real-world semester or term structure.

      </p>
                <br>
      <dl>
        <dt>Short Name
        </dt>
        <dd>Mainly used in tables and menus where space is tight. eg.
          "2013 S1"
        </dd>
        <dt>Title
        </dt>
        <dd>A longer descriptive name. "Semester 1, 2013"
        </dd>
        <dt>Code
        </dt>
        <dd>Will be used when interfacing with external systems. This
          should be the
          code that those systems use for the teaching period.
        </dd>
      </dl>
    </div>
    <div class="span9">
      <h1>Edit Time Period
      </h1>

      <div class="well">
        <form method='post' id="form"
              action='{{ cf.url }}admin/edit_period_submit/{{ period.id }}'
              data-validate="parsley">
          <label>Short Name:</label>
          <input placeholder="Short Name"
                 class="required input-medium"
                 type="text" name='name' value="{{ period.name }}">

          <label>Title:</label>
          <input placeholder="Descriptive name" class="input-xxlarge"
                 type="text" name='title' value="{{ period.title }}">
          <label>Code:</label>
          <input class="input-medium" type="text" name='code'
                 value="{{ period.code }}">

          <h4>Dates</h4>
          <label>Start:</label>
          <h4></h4>

          <input class="input-medium datepicker required" type="text"
                 readonly name='start'
                 value='{{ period.start_date }}'>
          <label>End:</label>
          <input class="input-medium datepicker required" type="text"
                 readonly name='finish'
                 value='{{ period.finish_date }}'>

          <div class="form-actions">
            <input class='btn btn-primary' type="submit" name='save'
                   value='Save'>
            <input class='btn btn-danger' type="submit"
                   name='cancel'
                   value='Cancel' id="cancel">
          </div>
        </form>
      </div>
      <ul></ul>
      <ul></ul>
      <p></p>
    </div>
  </div>

  <p>Return to <a href="{{ cf.url }}admin/periods">Time Periods</a></p>

  <br/>
  <br/>
  <br/>

{% endblock body %}
{% block js %}
  <script>
    $(function () {
      $(".datepicker").datepicker({
        format: 'D dd M yyyy',
        todayBtn: true,
        todayHighlight: true,
        autoclose: true
      });

      $('#cancel').click(function () {
        $('#form').parsley('destroy');
        $('#form').submit();
      });
    });

  </script>
{% endblock js %}
{% block pagetitle %}Server Admin{% endblock %}