{% extends "page_courseadmin.html" %}
{% block js %}
    <script>
        $("#enrol_type").change(function () {
            var etype = $(this).val();
            if (etype == 'manual') {
                $("#enrol_location_box").hide();
            } else {
                $("#enrol_location_box").show();
            }
        });


        // On load
        $(function () {
            var etype = $("#enrol_type").val();
            if (etype == 'manual') {
                $("#enrol_location_box").hide();
            } else {
                $("#enrol_location_box").show();
            }
        });

    </script>
{% endblock %}
{% block body %}
        <br>
    <p>Return to <a href="{{ cf.url }}admin/courses">Course Choice</a></p>

    <h3>Adding a new course</h3>
    <form method='post' action='{{ cf.url }}admin/add_course/save'>
        <div class="container-fluid well">
            <h4>Course</h4>

            <div class='input'>
                <label>Name: <input type='text' name='course_name' value='{{ course.name }}'> (eg. ELECTENG101)</label>
            </div>
            <div class='input'>
                <label>Title: <input type='text' name='course_title' value='{{ course.title }}'> (eg. Introduction to Electrical Engineering)</label>
            </div>

            <div class='input'>
                <label>Status: <select name='course_active' class='select'>
                    <option value='1' {% if course.active %}SELECTED{% endif %}>Active</option>
                    <option value='0' {% if not course.active %}SELECTED{% endif %}>Inactive</option>
                </select>
                    (Inactive courses will be hidden)</label>
            </div>

            <h4>Membership</h4>

            <div>
                <p>Is access to this course open to anyone, or is it controlled?</p>
                <select name='registration'>
                    <option value='open'>Open (Anyone can add themselves)</option>
                    <option value='controlled'>Controlled (Managed by course administrator)</option>
                </select>

            </div>

        </div>

        <div class='pull-right'>
            <input type="submit" name="save_changes" value="Create Course" class='btn btn-primary'>
            <input type="submit" name="cancel_edit" value="Cancel" class='btn btn-danger'>
        </div>


    </form>
    <br>
    <br/>

{% endblock body %}
{% block pagetitle %}Server Admin{% endblock %}