{% extends "page_nav.html" %}
{% block body %}
  <br/>
  <p>Return to <a href="{{ cf.url }}admin/groups">Groups</a></p>
  <div class="row">
    <div class="span2">
      <h4>Group Type
      </h4>
      <dl>
        <dt>Staff
          <br>
        </dt>
        <dd>Staff or assistants can be assigned activities like
          course co-ordination or question creation.
          <br>
        </dd>
        <dt>Enrolment
          <br>
        </dt>
        <dd>Students can access course assessments and practice.
          <br>
        </dd>
        <dt>Statistical
          <br>
        </dt>
        <dd>Grouping for analysis and reporting. Members cannot
          see they are in these groups.
          <br>
        </dd>
      </dl>
      <h4>Source</h4>

      <p>Where the information on group membership comes from:
      </p>
      <dl>
        <dt>Ad-Hoc
          <br>
        </dt>
        <dd>Maintained manually - members can be added or removed by staff.
          <br>
        </dd>
        <dt>External Feed
          <br>
        </dt>
        <dd>Membership information comes from an external source, eg. an LDAP
          server.
          <br>
        </dd>
        <dt>Open Registration
          <br>
        </dt>
        <dd>Users can enrol themselves into the group.
          <br>
        </dd>
      </dl>
    </div>
    <div class="span8">
      <h1>Edit Group
        <br>
      </h1>

      <form method='post' action='{{ cf.url }}admin/edit_group_submit/{{ group.id }}' data-validate='parsley'>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="well">


        <label>Group Name:</label>
        <input placeholder="Group name" name='name'
               class="required input-medium" value='{{ group.name }}'
               type="text">
        <label>Title:</label>
        <input class="input-xxlarge" type="text" name='title' value='{{ group.title }}'>
        <label>Group Type:</label>
        <select name='gtype'>
          {% for gtype in gtypes %}
            <option value='{{ gtype.type }}' {% if group.gtype==gtype.type %}SELECTED{%endif %}>{{ gtype.title }}</option>
          {% endfor %}
        </select>
        <label>Group is Active:</label>
        <select name='period'>
          {% for period in periods %}
            <option value='{{ period.id }}' {% if group.period==period.id %}SELECTED{%endif %}>{{ period.name }}</option>
          {% endfor %}
        </select>
        <label>Source:</label>

        <p></p>
        <select name='source' id='source_select'>
          <option value='feed' {% if group.source=='feed' %}SELECTED{%endif %}>External Feed</option>
          <option value='adhoc' {% if group.source=='adhoc' %}SELECTED{%endif %}>Ad-Hoc</option>
          <option value='open' {% if group.source=='open' %}SELECTED{%endif %}>Open Registration</option>
        </select>

        <div id='feed_select'>
          <label>Feed: <select name='feed' id='select_feed'>
            {% for feed in feeds %}
              <option class='feed_option' value='{{ feed.id }}' {% if group.feed==feed.id %}SELECTED{%endif %}>{{ feed.name }}</option>
            {% endfor %}
          </select></label>
          <br/><label>Arguments to feed:
          <input placeholder="name" class="input-xlarge" id='feedargs'
                 name='feed_args' value='{{ group.feedargs }}' type="text">

        </label>
        </div>
        <div class="form-actions">

          <input type="submit" name="save_changes" value="Save"
                 class='btn btn-primary'>
          <input type="submit" name="cancel" id="cancel" value="Cancel"
                 class='btn btn-danger'>
        </div>
      </div>
      </form>
    </div>
  </div>

  <p>Return to <a href="{{ cf.url }}admin/groups">Groups</a></p>

  <br/>
  <br/>
  <br/>

{% endblock body %}
{% block js %}

  <script>
    function update_feed_vals() {
      if ($('#source_select').val() == 'feed') {
        $('#feed_select').show();
      } else {
        $('#feed_select').hide();
      }

    }

    // onload
    $(function () {
      $('#source_select').change(function () {
        update_feed_vals();
      });
      $('#select_feed').change(function () {
          update_feed_vals();
      });
      $('#feed_args').change(function () {
        update_feed_vals();
      });

      $('#cancel').click(function () {
        $('#form').parsley('destroy');
        $('#form').submit();
      });
      update_feed_vals();
    });

  </script>
{% endblock js %}
{% block pagetitle %}Server Admin{% endblock %}