{% extends "page_nav.html" %}
{% block body %}
    <br/>
    <p>Return to <a href="{{ cf.url }}admin/top">Admin Top</a></p>

    <H2>Manage Courses</H2>
    <p>Add, remove, or configure the courses in OASIS. Choose a course to edit
        its configuration.</p>
    <div class='container-fluid well'>
        <h3>Active Courses</h3>
        <table class='table table-condensed'>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Enrolment</th>
                <th><!-- Activity --></th>
                <th>Title</th>
            </tr>
            {% for name, course in courses if course.active %}
                <tr>
                    <th>
                        <a href='{{ cf.url }}admin/course/{{ course.id }}'>{{ course.name }}</a>
                    </th>
                    <td>{{ course.size }}</td>
                    <td>{{ course.enrol_type }}</td>
                    <td>{{ course.activity }}</td>
                    <td>{{ course.title }}</td>
                </tr>
            {% endfor %}

        </table>
        <br/>

        <h3>Hidden/Inactive Courses</h3>
        <table class='table table-condensed'>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Enrolment</th>
                <th>Title</th>
            </tr>
            {% for name, course in courses if not course.active %}
                <tr>
                    <th>
                        <a href='{{ cf.url }}admin/course/{{ course.id }}'>{{ course.name }}</a>
                    </th>
                    <td>{{ course.size }}</td>
                    <td>{{ course.enrol_type }}</td>
                    <td>{{ course.title }}</td>
                </tr>
            {% endfor %}

        </table>
        <br/>
        <a class='btn' href='{{ cf.url }}admin/add_course'><i
                class='icon icon-plus'> </i>Add Course</a>
    </div>
    <p>Return to <a href="{{ cf.url }}admin/top">Admin Top</a></p>
{% endblock body %}
{% block pagetitle %}Server Admin{% endblock %}