{% extends "page_courseadmin.html" %}
{% block body %}
    <br>
    <p>Return to <a href="{{ cf.url }}setup/courses">Course Choice</a></p>

    <h3>Adding a new course</h3>
    <form id="form" method='post' action='{{ cf.url }}cadmin/add_course/save'
          data-validate="parsley">
        <div class="container-fluid well">
            <h4>Course</h4>

            <div class='input'>
                <label>Name:
                    <input type='text' class='required' name='name'
                           value='{{ course.name }}'
                           placeholder='(eg. ELECTENG101)'>
                </label>
            </div>
            <div class='input'>
                <label>Title: <input type='text' class='required'
                                     name='title'
                                     value='{{ course.title }}'
                                     placeholder='(eg. Introduction to Electrical Engineering)'>
                </label>
            </div>
        </div>

        <div class="container-fluid well">
            <h4>Quick Configuration</h4>

            <p>OASIS allows a lot of functionality in how a course is
                configured. The
                following options will set some sensible defaults for different
                situations.
                You can fine-tune the configuration later, if needed. Any of
                the options set here
                can be changed later, these choices do not limit what's
                possible.</p>

            <div><h3>Course Type</h3>
                <p>Choose the type of course that best suits your needs, as a starting
                    point:</p>

                <div class='row'>
                    <div class='span1 offset1'>
                        <br/>
                        <input type='radio' name='coursetemplate' value='demo' {% if course.coursetemplate=='demo' %}CHECKED{% endif %}>
                    </div>
                    <div class='span8'>
                        <h4>Demonstration</h4>

                        <p>This is suitable for a demonstration course. Practice
                            questions
                            will be available to all users, by default, and
                            students can sign
                            themselves up to the course to do any assessments.
                        </p>
                    </div>
                </div>

                <div class='row'>
                    <div class='span1 offset1'>
                        <br/>
                        <input type='radio' name='coursetemplate'
                               value='casual' {% if course.coursetemplate=='casual' %}CHECKED{% endif %}>
                    </div>
                    <div class='span8'>
                        <h4>Casual</h4>

                        <p>Useful for small courses (1-30 students) where a
                            single course administrator
                            can manage the student membership themselves. Practice
                            questions will be available to anyone currently in the course.
                        </p>
                    </div>
                </div>
{% if not feeds %}
    <p><em>More options will become available if external feeds are configured in the Server Administration menu.</em></p>
            {% else %}
                <div class='row'>
                    <div class='span1 offset1'>
                        <br/>
                        <input type='radio' name='coursetemplate'
                               value='standard' {% if course.coursetemplate=='standard' %}CHECKED{% endif %}>
                    </div>
                    <div class='span8'>
                        <h4>Standard</h4>

                        <p>A typical large organization course. Enrolment
                            information comes
                            from an external system, and there may be multiple
                            staff assigned
                            to the course. Practice
                            questions will be available to anyone in the course, or
                            anyone who has taken the course in the past.
                        </p>
                    </div>
                </div>
            {% endif %}
                <hr>
                <h3>Time Periods</h3>
                <p>When does the course run?</p>

                <div class='row'>
                    <div class='span1 offset1'>
                        <br/>
                        <input type='radio' name='courserepeat' value='1' {% if course.courserepeat=='1' %}CHECKED{% endif %}>
                    </div>
                    <div class='span8'>
                        <h4>Any Time</h4>

                        <p>The course has no fixed start or end, students may
                            come and go. This is
                            especially suitable for demonstration courses.
                        </p>
                    </div>
                </div>
{% if not periods %}

    <p><em>More options will become available if time periods are configured in the
server administration menu.</em></p>
    <br/><br/>
            {% else %}
                <div class='row'>
                    <div class='span1 offset1'>
                        <br/>
                        <input type='radio' name='courserepeat' value='single' {% if course.courserepeat=='single' %}CHECKED{% endif %}>
                    </div>
                    <div class='span8'>
                        <h4>Single</h4>

                        <p>This course is a once-off. To repeat it in the
                            future, additional
                            configuration will be needed.
                        </p>
                    </div>
                </div>

                <div class='row'>
                    <div class='span1 offset1'>
                        <br/>
                        <input type='radio' name='courserepeat' value='annual' {% if course.courserepeat=='annual' %}CHECKED{% endif %}>
                    </div>
                    <div class='span8'>
                        <h4>Annual</h4>

                        <p>Repeats every year, during a similar time period
                            (semester/term)
                    </div>
                </div>

                <div class='row'>
                    <div class='span1 offset1'>
                        <br/>
                        <input type='radio' name='courserepeat' value='often' {% if course.courserepeat=='often' %}CHECKED{% endif %}>
                    </div>
                    <div class='span8'>
                        <h4>Often</h4>

                        <p>This course runs multiple times a year.
                    </div>
                </div>

                <hr>
</div>
            </div>
{%  endif %}
        <div class='pull-right'>
            <input type="submit" name="save_changes" value="Create Course"
                   class='btn btn-primary'>
            <input type="submit" name="cancel_edit" id="cancel" value="Cancel"
                   class='btn btn-danger'>
        </div>

    </form>
    <br>
    <br/>

{% endblock body %}
$(function () {
$( '#cancel' ).click(function() {
$('#form').parsley( 'destroy' );
$('#form').submit();
});
});
{% block pagetitle %}Server Admin{% endblock %}