{% extends "page_courseadmin.html" %}
{% block body %}
    <br/>
    Back to <a href="{{ cf.url }}cadmin/{{ course.id }}/top">Course Page</a>
    <h4>{{ course.name }} ({{ course.title }})</h4>
    <H2>Group {{ group.title }}.</H2>
    <sub>{{ group.name }}</sub>

    <div class="container-fluid well">
        <h5>Members</h5>

        <table class="table">
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>
            {% for u in members %}
                <tr>
                    <td>{{ u.uname }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.fullname }}</td>
                    <!-- <td><button name='remove_{{ u.id }}'><i class='icon icon-trash'> </i></button></td> -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form id='addperson_form' method='post'
              action='{{ cf.url }}cadmin/{{ course.id }}/editgroup/{{ group.id }}/addperson'>
            <label for='username'>Add a person to this group:</label> <br/>

            <div class='input-append'>
                <input type='text' name='uname'
                                             id='username'
                                             placeholder="username">
                <button id='addperson_btn' class='btn' type='button'><i
                        class='icon icon-plus-sign'> </i> Add
                </button>
            </div>
        </form>
        <br/>
        <!--   <button class='btn'><i class='icon icon-upload'> </i> Upload Spreadsheet</button> -->
    </div>

{% endblock body %}
{% block js %}
    <script>
        $(function () {

            $("#addperson_btn").click(function () {
                $("#addperson_form").submit();

            });


        });
    </script>
{% endblock %}