{% extends "page_courseadmin.html" %}
{% block body %}
  <br/>
  Back to <a href="{{ cf.url }}cadmin/{{ course.id }}/top">Course Page</a>
  <h4>{{ course.name }} ({{ course.title }})</h4>
  <H2>Group {{ group.title }}.</H2>
  {% if group.source=='adhoc' %}<p>Membership of this group is 'ad-hoc'. This means that you can
  add or remove people from the group on this page.</p>
  {% elif group.source=='open' %}<p>Membership of this group is 'open'.</p><p>This means that
    any valid user can sign themselves into this group, and you can also add or remove group members.</p>
  {% else %}<p>Membership of this group is controlled from an external source, and members cannot
  be added or removed from within OASIS.</p>
  {% endif %}

  <div class="container-fluid well">
    <h5>Members</h5>
 <form id='member_edit' method='post'
          action='{{ cf.url }}cadmin/{{ course.id }}/groupmember/{{ group.id }}'>
 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <table class="table datatable">
      <thead>
      <tr>
<th>Username</th>
         <th>Email</th>
          <th>Fullname</th>
          <th></th>
      </tr>
      </thead>
      <tbody>
      {% for u in members %}
        <tr>
          <td>{{ u.uname }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.fullname }}</td>

          <td>
              {% if group.source=='adhoc' or group.source=='open' %}
              <button class='btn btn-link remove_member' name='remove_{{ u.id }}'><i class='icon icon-trash'> </i></button>
              {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
 </form>
  <br><br/>
  {% if group.source=='adhoc' or group.source=='open' %}
    <form id='addperson_form' method='post'
          action='{{ cf.url }}cadmin/{{ course.id }}/editgroup/{{ group.id }}/addperson'>
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <label for='usersearch'>Add a person to this group:</label> <br/>

      <div class='input-append'>
        <input type='text' name='uname'
               id='usersearch'
               placeholder="username" class=''>
        <button id='addperson_btn' class='btn' type='button'><i
            class='icon icon-plus-sign'> </i> Add
        </button>
      </div>
    </form>
      <br/>
  {% endif %}

    <!--   <button class='btn'><i class='icon icon-upload'> </i> Upload Spreadsheet</button> -->
  </div>


  <div class='container-fluid well'>
    <div class='span5'>
      <form method='post'
            action='{{ cf.url }}cadmin/{{ course.id }}/group/{{ group.id }}/detach_group'>
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <input type='submit' name='group_id'
               value='Remove from Course'
               class='btn btn-small btn-danger'><br/>
        <br/>

        <p>This will unlink the connection between this group and the course.
          Members of the group will not be included as members of this course.
          The group will still exist in the system.</p>
      </form>
    </div>

  </div>


{% endblock body %}
{% block js %}
  <script>
    $(function () {

      $("#addperson_btn").click(function () {
        $("#addperson_form").submit();

      });

        $(".datatable").dataTable();
/*
      $('#usersearch').autocomplete({
        minLength: 3,
        source: '{{ cf.url }}api/users/typeahead'
        }
      );
*/
       $(".remove_member").click(
               function() {
                   $("#member_edit").submit();
               }
       );


    });
  </script>
{% endblock %}