{% extends "page_courseadmin.html" %}
{% block body %}
    <br/>
    Back to <a href="{{ cf.url }}courseadmin/top/{{ course.id }}">Course Page</a>
    <H2>Enrolment</H2>
    <h4>{{ course.name }} ({{ course.title }})</h4>
    <div class="container-fluid well">
        <h5>Enrolment Groups</h5>

        <p>This course has the following current group(s) of students:</p>

        <form method="POST" action="{{ cf.url }}courseadmin/enrolment_save/{{ course.id }}">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Members</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    {% if group.current %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td>{{ group.title }}</td>
                            <td>{{ group.nummembers }}</td>
                            <td>{{ group.startdate }}</td>
                            <td>{{ group.enddate }}</td>
                            <td><a href="{{ cf.url }}courseadmin/editenrolment/{{ group.id }}" class='btn-mini btn'>Edit
                                Members</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
            <h5>Previous Groups</h5>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Members</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    {% if not group.current %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td>{{ group.title }}</td>
                            <td>{{ group.nummembers }}</td>
                            <td>{{ group.startdate }}</td>
                            <td>{{ group.enddate }}</td>
                            <td><a href="{{ cf.url }}courseadmin/editenrolment/{{ group.id }}" class='btn-mini btn'>Edit
                                Members</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </form>
    </div>

{% endblock body %}