{% extends "page_courseadmin.html" %}
{% block js %}
{% endblock js %}
{% block body %}
  <br/>
  Back to
  <a href="{{ cf.url }}cadmin/{{ course.id }}/edittopic/{{ topic.id }}">Topic
    Page</a>
  <h4>{{ course.name }} ({{ course.title }})</h4>
  <h2>"QE2" Question Editor</h2>
  <p>NOT YET FUNCTIONAL</p>
  <div class="container-fluid well"
       style='padding:1em; background-color: #fff8f8; border: solid darkred 1px;'>
    <div>

      <form method='post' ENCTYPE='multipart/form-data'
            ACTION='{{ cf.url }}qedit_qe2/save/{{ topic.id }}/{{ qtemplate.id }}'>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class='pull-right'><INPUT type='submit'
                                       class='btn btn-primary'
                                       name='save' value='Save Changes'>
          <INPUT type='submit' class='btn btn-danger' name='cancel'
                 value='Cancel'></div>

        <h4>Question Name:</h4>

        <div style='padding-left: 1em;'>
          <INPUT TYPE='text' id='qtitle' NAME='qtitle'
                 class='input-xlarge' VALUE='{{ qtemplate.title }}'>
        </div>
        <h4>Embed ID:</h4>

        <div style='padding-left: 1em;'>
          <INPUT TYPE='text' id='embed_id' NAME='embed_id'
                 VALUE='{{ qtemplate.embed_id }}'>

          <p>{% if qtemplate.embed_id %}Embeddable at:
            {{ cf.url }}embed/question/<span style='color: darkgreen;'>{{ qtemplate.embed_id }}</span>/question.html
            {{ qtemplate.embedurl }}{% else %}Enter an embed value
            to be able to embed this
            question in an external web site. It may make the
            question publically accessible.{% endif %}</p>
        </div>
        <h4>Marking Type:</h4>

        <div style='padding-left: 1em;'>
        </div>

        <H4>Question Text:</H4>

        <div style='padding-left: 1em;'>
          <TEXTAREA NAME='newtext' CLASS='input-xxlarge'
                    rows='20'>{{ qtemplate.html }}</TEXTAREA>
        </div>
        <H4>Attachments:</H4>
        <div style='padding-left: 1em;'>
          <table class='table table-condensed att_table'>
            <tr>
              <th>Attachments:</th>
         </tr>
            {% for att in attachments %}
              <tr>
                <td style='width:20%;'>{{ att.name }}</td>
                <td style='width:20%;'>{{ att.mimetype }}</td>
                <td style='width:20%;'>
                  <a href='{{ cf.url }}qedit_qe2/att/{{ qtemplate.id }}/{{ att.name }}'>View/Download</a>
                </td>
              </tr>
            {% endfor %}
          </table>
          <br/><br/>
          <table border='0'>
            <tr>
              <td>Attachment Name: <input type='text'
                                          name='newattachmentname'
                                          value=''/></td>
              <td>Upload/Replace:<input type='file'
                                        name='newattachment'/>
              </td>
            </tr>
          </table>
        </div>
        <br/>

        <div class='pull-right'><INPUT type='submit'
                                       class='btn btn-primary'
                                       name='save' value='Save Changes'>
          <INPUT type='submit' class='btn btn-danger' name='cancel'
                 value='Cancel'></div>

      </form>
    </div>

    <a class='btn btn-small'
       href='{{ cf.url }}/qedit_qe2/qtlog/{{ topic.id }}/{{ qtemplate.id }}'>Show
      Log</a>


  </div>

{% endblock body %}
