{% extends "page_courseadmin.html" %}
{% block body %}
    <br>
    <p>Return to <a href="{{ cf.url }}cadmin/{{ course.id }}/top">Course
        Top</a></p>

    <h2>{{ course.name }} ({{ course.title }})</h2>
    <h3>Course Configuration</h3>
    <form method="POST"
          action="{{ cf.url }}cadmin/{{ course.id }}/config_submit">
        <div class="container-fluid well">
            <h5>Course Name</h5>

            <div class="">
                <label>Name:
                    <input type='text' name='name' value='{{ course.name }}'>
                </label>
                <label>Title:
                    <input type='text' name='title' value='{{ course.title }}'>
                </label>
            </div>
        </div>
    </form>
    <br/><br/>
  {% if is_sysadmin %}
        <div class="container-fluid well sysadminbox">
            <h5>Systems Administrator Options</h5>

            <div class='row'>
                <div class='span5'>
                    <form method='post'
                          action='{{ cf.url }}cadmin/{{ course.id }}/assign_coord'>
                        {% if coords %}Course-Coordinators: {% for coord in coords %}{{ coord.uname }} {% endfor %}{% endif %}
                        <input type='text' class='typeahead' name='coord'
                               placeholder='username'>
                        <input type='submit' name='assign_coord'
                               value='Add Coordinator'
                               class='btn btn-small btn-primary'>

                        <p>You can assign someone else to be the "owner" of the
                            course. They
                            will be given full control over the course and its
                            options.</p>
                    </form>
                </div>
                <div class='span5'>
                    {% if course.active %}
                    <form method='post'
                          action='{{ cf.url }}cadmin/{{ course.id }}/deactivate'>
                        <input type='submit' name='deactivate_course'
                               value='Deactivate Course'
                               class='btn btn-small btn-danger'>

                        <p>Deactivating a course will remove it from most pages
                            and
                            deactivate any live assignments
                            or groups. It can be re-activated later, and any
                            data will
                            be retained. <!-- <em>If you wish to remove a course, you
                                must
                                deactivate it first.</em> --></p>
                        </form>
                    {% else %}
                        <form method='post'
                          action='{{ cf.url }}cadmin/{{ course.id }}/activate'>
                        <input type='submit' name='reactivate_course'
                               value='Activate Course'
                               class='btn btn-small btn-primary'>

                        <p>This course is currently not visible from most of OASIS.</p>
                        </form>
                          <!-- <form method='post'
                          action='{{ cf.url }}cadmin/{{ course.id }}/delete'>
                        <input type='submit' name='delete_course'
                               value='Delete Course'
                               class='btn btn-small btn-danger'>
                        <p></p>
                        </form>  -->
                    {% endif %}
                </div>
            </div>


        </div>

    {% endif %}
    <div class="container-fluid well">
        <h5>People</h5>

        <p>The following group(s) of people currently have access to {{ course.name }}:</p>

        <div>
            <table class='table'>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th></th>
                </tr>
                </thead>
                {% for g_id, group in groups.iteritems() %}
                    <tr>
                        <td>{{ group.title }}</td>
                        <td>{{ group.source }}</td>
                        <td>{{ group.size() }}</td>
                        <td>
                            <a href='{{ cf.url }}cadmin/{{ course.id }}/group/{{ group.id }}/edit'
                               class='btn btn-mini'><i
                                    class='icon icon-edit'> </i> edit</a>
                        </td>

                    </tr>
                {% endfor %}
            </table>

        {% if choosegroups %}
                      <br/>
            <h5>Add Group:</h5>
      <p>The group will be associated with course, and will be able to act as students in the course. You
      can grant them more permissions later if you wish.</p>
            <form method='post'
                  action='{{ cf.url }}cadmin/{{ course.id }}/add_group'>
                <select name='addgroup'>
                    <option value='0'>--</option>
                    {% for group in choosegroups %}

                        <option value='{{ group.id }}'>{{ group.title }}</option>
                    {% endfor %}
                </select>
              <input type='submit' name='add_student' class='btn'
                                value='Add'>
            </form>
{% endif %}
        </div>

    </div>
    <br>

    <br/>
    <p>Return to <a href="{{ cf.url }}cadmin/{{ course.id }}/top">Course
        Top</a></p>


{% endblock body %}
