{% extends "page_courseadmin.html" %}
{% block body %}
  <H3>Assessment Saved!</H3>
  <h4>{{ course.name }} ({{ course.title }})</h4>

  <p><b>Title:</b>{{ exam.title }}</p>
  <p><b>Starts:</b>{{ exam.start }}</p>
  <p><b>Ends:</b>{{ exam.end }}</p>
  <p><b>Duration:</b>{{ exam.duration }}</p>
  <p><b>Status:</b>{{ exam.archived }}</p>

  <p>Continue to <a href="{{ cf.url }}cadmin/{{ course.id }}/top">Course
    Page</a></p>
  <p>Go back and <a
      href="{{ cf.url }}cadmin/{{ course.id }}/editexam/{{ exam.id }}">Edit
    Assessment</a></p>

{% endblock body %}
