{% extends "page_practice.html" %}
{% block body %}

  <div class="row">
    <div class="span2">
      <br/>
      <ul class="nav nav-list">
        <li class='nav-header'>
          <a name='topic_{{ topic_id }}'
             href='{{ cf.url }}practice/subcategory/{{ topic_id }}'>{{ topictitle }} </a>
        </li>
        {% set prev = -1 %}
        {% for question in questions %}

          {% if question.position >= 1 and not question.position == prev %}

            <li>
              <a name='question_{{ question.name }}'
                 href='{{ cf.url }}practice/question/{{ topic_id }}/{{ question.position }}'>{{ question.name }}</a>
            </li>
          {% set prev = question.position %}
          {% endif %}

        {% endfor %}

      </ul>
    </div>


    <div class="span8">
      <br/>

      <h2>{{ course.title }} ({{ topictitle }})</h2>

      <h4>{{ q_pos }} : {{ q_title }}</h4>

      <div class='well'>
        <form method="post"
              action="{{ cf.url }}practice/markquestion/{{ topic_id }}/{{ q_id }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {{ q_body|safe }}
          <input name="marknow" value="Mark Now!" type="submit">
        </form>
      </div>
    </div>
  </div>
{% endblock body %}
