{% extends "page_nav.html" %}
{% block body %}
  <h2>{{ course.title }} ({{ topictitle }})</h2>

  <h3>{{ q_pos }} : {{ q_title }}</h3>

  <form method="post"
        action="{{ cf.url }}practice/question/{{ topic_id }}/{{ q_pos }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{ mesg }}
    <input name="marknow" value="Try Refresh" type="submit">
  </form>
{% endblock body %}
{% block lpane %}
  <table class='lpane'>
    <TR>
      <Th>
        <a name='course_{{ course.id }}'
           href='{{ cf.url }}practice/coursequestions/{{ course.id }}'>{{ course.name }} </a>
      </Th>
    </TR>
    <TR>
      <Th>
        <a name='topic_{{ topic_id }}'
           href='{{ cf.url }}practice/subcategory/{{ topic_id }}'>{{ topictitle }} </a>
      </Th>
    </TR>
    {% set prev = -1 %}
    {% for question in questions %}
      <tr>
        {% if question.position < 1 %}
          <td>
            <a name='question_{{ question.name }}'
               href='{{ cf.url }}practice/question/{{ topic_id }}/{{ question.position }}'>{{ question.name }}</a>
            <span style='color: red;'><sub>(hidden)</sub></span>
          </td>
        {% elif question.position != prev %}
          <td>
            <a name='question_{{ question.name }}'
               href='{{ cf.url }}practice/question/{{ topic_id }}/{{ question.position }}'>{{ question.name }}</a>
          </td>
          {% set prev = question.position %}
        {% endif %}
      </tr>
    {% endfor %}

  </TABLE>
{% endblock lpane %}
