{% extends "page_nav.html" %}
{% block body %}
    <br/>
    <p>Return to <a href="{{ cf.url }}setup/top">Setup</a></p>

    <div class="container-fluid">
        <div class="well">

            <h2>Account Details</h2>

            <p>For {{ user.uname }} ({{ user.fullname }})</p>

            <p>Email: {{ user.email }}</p>

            <p>Student ID: {{ user.student_id }}</p>

            <p>
                <A class='btn btn-small btn-danger' HREF='{{ cf.url }}setup/changepass'>Change Password</A>
            </p>
        <br/>
<!--
            <h2>Courses</h2>

            <div>
                {% for course in courses %}
                    {{ course.name }}
                {% else %}none
                {% endfor %}
            </div>
        <br/>
-->
        <!--
            <h2>Assessments</h2>
            <table class='table table-bordered' id='examresults'>
                <tr>
                    <th>Course</th>
                    <th>Title</th>
                    <th>Started</th>
                </tr>
                {% for exam in exams %}
                    <tr>
                        <th>{{ exam.course.name }}</th>
                        <td>{{ exam.started }}</td>
                        <th>{{ exam.title }}</th>
                        <td>
                            {% if exam.viewable %}
                                <a href='{{ cf.url }}setup/viewexam/{{ exam.cid }}/{{ user.id }}/{{ exam.id }}'>View</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            -->
        </div>
    </div>

    <br/>
    <p>Return to <a href="{{ cf.url }}setup/top">Setup</a></p>

{% endblock body %}
{% block pagetitle %}Account Details{% endblock %}
