{% extends "page_nav.html" %}
{% block body %}
    <H2>Choose A Course</H2>
    <p>You must have administrator rights to the course.</p>
    <div class='container-fluid well'>
        <ul class='nav nav-list'>
            {% for name, course in courses %}
                <li>
                    <div class='span2'><a name='course_{{ course.id }}'
                                          href='{{ cf.url }}cadmin/{{ course.id }}/top'>{{ course.name }} </a>
                    </div>
                    <div class='span6'>{{ course.title }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
{% block pagetitle %}Setup{% endblock %}