{% extends "page_nav.html" %}
{% block body %}
  <br/>
  <p>Return to <a href="{{ cf.url }}setup/myprofile">Account Details</a></p>
  <form method='post' action='{{ cf.url }}setup/changepass_submit'>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="container-fluid">
      <div class="well">

        <h2>Change Password</h2>

        <p>For {{ user.uname }} ({{ user.fullname }})</p>
        <table>
          <tr>
            <td><label for='newpass'>New Password:</label></td>
            <td><input id="newpass" type='password' name='newpass'>
            </td>
          </tr>
          <tr>
            <td><label for='confirm'>Confirm Password:</label></td>
            <td><input type='password' name='confirm'></td>
          </tr>

        </table>
        <br/>

        <p>Please choose a secure password. We recommend using a
          password manager to help you remember it.</p>
        <br/>

        <p class='offset1'>
          <input class='btn btn-primary' type='submit' name='submit'
                 value='Apply'>
          <A class='btn btn btn-danger'
             HREF='{{ cf.url }}setup/changepass'>Cancel</A>
        </p>

        <br/>
      </div>

    </div>
  </form>

  <br/>
  <p>Return to <a href="{{ cf.url }}setup/myprofile">Account Details</a></p>

{% endblock body %}
{% block pagetitle %}Account Details{% endblock %}
