{% extends "page_nav.html" %}
{% block body %}
  <H2>Choose A Course</H2>
  <p>You must have administrator rights to the course.</p>
  <div class='container-fluid well'>

      {% for name, course in courses %}

        <div class='row'>
          <div class='span2'><a name='course_{{ course.id }}'
                                href='{{ cf.url }}cadmin/{{ course.id }}/top'>{{ course.name }} </a>
          </div>
          <div class='span6'>{{ course.title }}</div>
            </div>

      {% endfor %}

  <br/>
      <a class='btn' href='{{ cf.url }}admin/add_course'><i
        class='icon icon-plus'> </i>Add Course</a>
  </div>
{% endblock body %}
{% block pagetitle %}Setup{% endblock %}