

    WSGIDaemonProcess oasis user=oasis group=www-data threads=5
    WSGIScriptAlias /oasis /opt/oasisqe/3.9/oasis/oasis.wsgi

    <Directory /opt/oasisqe/3.9/oasis>
        WSGIProcessGroup oasis
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>

    Alias /oasis/static /opt/oasisqe/3.9/oasis/static
    <Location /oasis/static>
       Options Indexes FollowSymLinks MultiViews
       SetHandler default-handler
    </Location>

