
    WSGIDaemonProcess oasis user=oasisqe group=www-data threads=25
    WSGIScriptAlias /oasis /opt/oasisqe/3.9/src/oasis.wsgi
    WSGIPythonOptimize 1

    <Directory /opt/oasisqe/3.9/src>
        WSGIProcessGroup oasis
        WSGIApplicationGroup %{GLOBAL}

        Order deny,allow
        Allow from all
    </Directory>

    Alias /oasis/static /opt/oasisqe/3.9/src/static
    <Location /oasis/static>
       Options Indexes FollowSymLinks MultiViews
       SetHandler default-handler
    </Location>

