.select-mini {
    width: 70px;
}

input.datepicker {
    cursor: pointer;
    background-color: white;
}

A {
    color: darkblue;
}

A:visited {
    color: darkblue;
}

/* main CSS
   This CSS contains the formatting information for the main template and
   look of the web-page, including background and navigation styling

   Written by Nilroy Packiyarajah, heavily modified (probably ruined) by Colin Coghill
*/

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #eff8ff url('../img/background.jpg') repeat-x;
}

#page {
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
    top: 0;
    left: 0;
    width: 95%;
    max-width: 900px;
    min-width: 400px;
    min-height: 400px;
    background-color: #ffffff;
}

#head {
    margin: 0;
    padding: 0;
    background: url('../img/titlebar.jpg') no-repeat;

    height: 110px;
    width: 100%;
}

#foot {
    margin: 0;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #5290dd;
    font-size: small;
    text-align: right;
    font-family: Verdana, Arial, sans-serif;
}

#page_title {
    font-size: 24pt;
    font-weight: bold;
    color: white;
    font-family: Arial, Verdana, sans-serif;
    letter-spacing: 6px;
    text-align: right;
    float: right;
    margin: 0;
    padding: 24px 24px 0 0;
    vertical-align: bottom;
}

ul.navbar {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
    max-width: 900px;
}

#navigation li {
    float: left;
    margin: 0;
}

#navigation li a {
    height: 25px;
    line-height: 25px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
    letter-spacing: 2px;
    display: block;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    text-decoration: none;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    overflow: hidden;
}

#navigation li a:hover {
    height: 25px;
    line-height: 25px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
    letter-spacing: 2px;
    float: left;
    display: block;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    text-decoration: none;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    overflow: hidden;
}

/* Hide from IE5-Mac \*/
#navigation li a {
    float: none;
}

/* End hide */

#navigation {
    margin: auto;
    height: 25px;
    overflow: hidden;
    left: 15px;
    max-width: 900px;
    width: 100%;
    background: url('../img/titlebar.jpg') bottom left;
}

#navigation li.page {
    background: url("../img/navigation.jpg") #fff bottom left repeat-x;
}

/* End style for navigation menu at the top */

#text {
    font-size: 12pt;
    color: black;
    font-family: Arial, Verdana, sans-serif;
}

div.block {
    border: solid 1px darkblue;
    background: #ddeeff;
    -moz-border-radius: 12px;
    padding: 12px;
    width: 600px;
}

.hidden {
    display: none;
}

div.message {
    font-size: large;
    text-align: center;
    background-color: lightyellow;
    color: darkblue;
}

td {
    font-size: large;
}

div#whoami {
    font-size: small;
    padding: 8px;
    margin-right: 2px;
    margin-top: 1px;
    text-align: right;
    color: lightskyblue;
}

div#headerright {
    float: right;
}

h2 {
    font-size: large;
}

.well {
    box-sizing: border-box;
}

table.att_table {
    width: 98%;
}

table.att_table td {
    font-size: small;
    max-width: 200px;
}