<b>Hello,</b>
<br/>
<p>You are being sent this email because someone has used your email address to
  register an account on our OASIS System.
  If this is not you, please discard this email.</p>
<p>If you would like to continue setting up your account on OASIS, please click
  on this link, or paste it into your web browser.
  This will confirm to us that your email address is valid,
  and we will activate your account.</p>

<a href='{{ cf.url }}login/confirm/{{ code }}'>{{ cf.url }}login/confirm/{{ code }}</a>

