[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
#locust = "*"
nose = "*"
mock = "*"
#six = "*"

[packages]
"psycopg2-binary" = "*"
"beautifulsoup4" = "*"
blinker = "*"
chardet = "*"
decorator = "*"
"enum34" = "*"
"html5lib" = "*"
idna = "*"
ipaddress = "*"
itsdangerous = "*"
jdcal = "*"
"ldap3" = "*"
openpyxl = "*"
"pyasn1" = "*"
pyinotify = "*"
python-memcached = "*"
flask = "*"
Flask-WTF = "*"
"Jinja2" = "*"
MarkupSafe = "*"
PyLTI = "*"
pyOpenSSL = "*"
Werkzeug = "*"
WTForms = "*"
bcrypt = "*"
pillow = "*"
lxml = "*"

[requires]
python_version = "3.6.9"

[scripts]
oasisdb = "scripts/oasisdb"
